*{
    margin:0;
    padding:0;

}
a{
  text-decoration: none;

}
header{
    height: 100vh;
    width:100vw;
  
    background-image: url('bg7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
display:flex;
align-items: flex-end;
justify-content: center;

}
.header-content{
  margin-bottom: 150px;
  color:black;
  
}

.header-content h1{
       font-size: 7vmin;
       margin-top: 50px;
       margin-bottom: 30px;
}
.header-content h2{
    font-size:4vmin;
}
.line{
  width:150px;
  height:4px;
  background-color:#fc036b;
  margin:10px auto;
  border-radius: 5px;
}

.ctn{
     padding : 8px 15px;
     background: #fc036b;
     border-radius:30px;
     color:whitesmoke;
       margin-left: 8.5vw; 
}
.navbar{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  width:100%;
  justify-content: space-between;
  color: black;
  padding: 20px;
  font-weight: 600;
}
ul{
  list-style: none;
}
.nav-links{
  display: flex;
  align-items: center;
  

}
.nav-links li{
  margin:0 25px;
  list-style: none;

}
.active{
  color:#fc036b;
  text-decoration: underline;
  font-weight:bold ;
}
.menu-btn{
  position:absolute;
  top:30px;
  right:30px;
  width:40px;
  cursor: pointer;
 display: none;
}

section{
     
      margin:80px auto;
      width:80%;
       
}
.Title{
   margin:80px;
      
    text-align: center;
    font-size: 4vmin;

}
.row{
  display: flex;
  align-items: center;
  width:100%;
  justify-content: space-between;

}
.row .col  {
  display: flex;
  flex-direction: column;
   align-items: center;


}
.events .row{
  margin-top: 50px;

} 
h4{
  font-size: 3vmin;
  color:#484872;
  margin:20px auto;
}
p{
    font-size: 15px;
    line-height: 12px;
    margin-top: 25px;
    color:#7c7c7c7c;
    padding:0px 40px;

}

.events .ctn{
   margin-top:30px;
   
}

@media only screen and (max-width:850px){
  .menu-btn{
    display: block;
  }
  .navbar{
    padding: 0;
    font-size: 25px;
  }
  .logo{
    position:absolute;
    top:30px;
    left:30px;

  }
  .nav-links{
flex-direction: column;
width:100%;
height:100vh;

justify-content: center;
background: rgb(103, 103, 158);
margin-top: -900px;
transition: all 1s ease;

   
}
.mobile-menu{
  margin-top:0px;
  border-bottom-right-radius:30%;
}
.nav-links li{
  margin:30px auto;
}
.row{
  flex-direction: column;
   gap: 20px;
}
}
