*{
    margin:0;
    padding: 0;
}

.main{
    height:100vh ;
    width:100%;
    /*background-color: #d0d5D5;*/
    background-color: white;
}

.nav-1{
   display: flex;
   
    align-items: center;
    justify-content: center;
}
.nav img{
     height: 60px;
     width: auto;
}

.nav{
   
    height: 110px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

img{
    margin-top:10px; 
}
.nav-1 ul{
    list-style: none;
    display: flex;
   
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.nav-1 ul li{
      margin-left: 60px;
      font-size: 2opx;
      font-weight: 600;
      text-transform: uppercase;

}

ul {
        margin-right:400px;
}
i{
   margin-right: 40px;
   font-size: 21px;
} 

.content{
     height: calc(100%-110px);
     width:100%;
     position:relative;
     display: flex;
}

.content-left {
    height:100%;
    width:40%;
    padding :80px 100px;
}
.content-left{
    margin-left: 60px;
}
.content-left h5{
    font-size:20px;
    text-transform: capitalize;
    color:#555;
    margin-bottom:10px;
}
.content-left h1{
    font-size:55px;
    text-transform: uppercase;
    color:#000;
    margin-bottom:25px;
}
.content-left p{
    font-size:20px;
    
    color:#000;
    margin-bottom:30px;
}

.btn{
    background-color: black;
    color:white;
    font-size: 15px;
    padding :12px  40px;
    border:none;
    font-weight: 600;
    border-radius:50px;
    border-top-left-radius: 0;
}
.btn:hover{
      background-color: blue;
     

}


.content-right{
    height:100%;
    width:60%;
    padding:110px 100px;
    white-space: nowrap;
    overflow-x: auto;
}
.content-right::-webkit-scrollbar{
    display: none;
}
.product{
    height:370px;
    width:250px;
    background-color: #1011;
    position:relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 20px;
}
.product img{
    height:100%;
    width:100%;
    object-fit: contain;
    position:absolute;
    bottom:20%;
}
.product h4{
       font-size: 18px;
       text-transform:capitalize;
       position:absolute;
       bottom:28%;

}
.category{
    position:absolute;
    bottom:20%;
    font-weight: 500;
   
}
.color{
    position:absolute;
    bottom:15%;
    font-weight: 500;
   
}
.price{
    font-size: 19px;
    position:absolute;
    bottom:5%;
    font-weight: 600;
   
}
.menu-btn{
    padding: 0 5px;
    font-size: 25px;
    display: none;
}
@media only screen and (max-width:850px){
.menu-btn{
    display: block;
   
}
/* .nav-1 ul{
      flex-direction: column;
      background-color: rgb(166, 100, 228);
      gap:15px;
   
} */

 .nav-1 ul {
flex-direction: column;
width:800px;
height:600px;
justify-content: center;
background-color: black;
 margin-top: 900px; 

 color :white;
/* transition: all 1s ease; */

   
}
.content{
      flex-direction: column;
      height: 100vh;
      width:100%;
}
.content-left{
            height: 100vh;
      width:100%;
    

}
.content-right{
     height: 100vh;
    width:100%;


}



} 