*{
    margin :0;
    padding:0;

}

.container{
    height:400px;
    width:300px;
    border-radius: 15px;
    
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
    box-shadow:3px 4px 5px black;


}
.box{
        height:200px;
    width:300px;
      background-color: rgb(122, 122, 186);
      border-radius: 15px;
      
}
.box2{
    height:120px;
    width: 120px;
border-radius:50%;
 background-color: black;
 margin-left: 90px;
 margin-top: -90px;
 background-image: url(profile.png);
background-size: cover; 
         object-fit: cover;
}

h3{
     font-size: 25px;
     text-align: center;
}
p{
     font-size: 18px;
     font-weight: 400px;
     text-align: center;
     text-transform: capitalize ;
}
.btn{
    display: flex;
    margin-top: 5px;
    border: none;
}
.btn1{
    background-color:  rgb(122, 122, 186);
    color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20px;
     margin-left: 50px;
}
.btn2{
    background-color:  rgb(122, 122, 186);
    color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    margin-left: 50px;
    
}
.icon{
    display: flex;
    font-size: 25px;
    margin-left: 90px;
}
.icon2{
    display: flex;
    font-size: 20px;
    margin-left: 60px;
    gap: 15px;
    margin-top: 8px;
}

.icon i{
    color: rgb(122, 122, 186);
}
.icon2 i{
    color: rgb(122, 122, 186);
}

.main{
    display: flex;

}

.line{
    height: 400px;
    width:10px;
    background-color:rgb(122, 122, 186);
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 15px;



}

.left-container{
     display: flex;
  
    

}

h5{
    font-size: 50px;
    color:  rgb(122, 122, 186);
    margin-left: 20px;
}
h4{
    font-size: 50px;
    color:  rgb(122, 122, 186);
    margin-left: 20px;
}
.builder{
     margin-top: 200px;
     font-size: 40px;
}

